[submodule "src/simulation/stonefish_ros2"]
	path = src/simulation/stonefish_ros2
	url = https://github.com/AGH-Marines/stonefish_ros2.git
[submodule "src/utils/diagnostics"]
	path = src/utils/diagnostics
	url = https://github.com/ros/diagnostics.git
[submodule "src/localization/geographic_info"]
	path = src/localization/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "src/localization/robot_localization"]
	path = src/localization/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "src/controlers/ds4_driver"]
	path = src/controlers/ds4_driver
	url = https://github.com/naoki-mizuno/ds4_driver
