[submodule "src/simulation/stonefish_ros2"]
	path = src/simulation/stonefish_ros2
	url = https://github.com/AGH-Marines/stonefish_ros2.git
[submodule "src/utils/diagnostics"]
	path = src/utils/diagnostics
	branch = ros2-humble
	url = https://github.com/ros/diagnostics.git
[submodule "src/localization/geographic_info"]
	path = src/localization/geographic_info
	branch = 1.0.6
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "src/localization/robot_localization"]
	path = src/localization/robot_localization
	branch = humble-devel
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "src/controlers/ds4_driver"]
	path = src/controlers/ds4_driver
	branch = humble-devel
	url = https://github.com/naoki-mizuno/ds4_driver
[submodule "src/trajectory/traj_gen"]
	path = src/trajectory/traj_gen
	url = https://github.com/AGH-Marines/traj_gen.git
[submodule "src/utils/ros2_numpy"]
	path = src/utils/ros2_numpy
	url = https://github.com/Box-Robotics/ros2_numpy.git
	branch = humble
